@use "../scss/colors.scss" as *;

.appartementPage{
    color:$color-red;
    .AppartementDescriptionScroll{
        display: flex;
        gap:2rem;
        overflow: hidden;
        @media screen and (width <= 768px){
            flex-direction: column;
        }
        * > {
            flex-grow: 1;
        }
    }

    h1{
        font-weight:500;
        margin-block: 0;
    }
    h2{
        font-weight: 500;
        margin-top:1rem;
        font-size: 20px;
    }
}
