@use "../scss/colors.scss" as *;

.appartement-grid{
    background: $grey-color;
    border-radius: 25px;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
    gap:1rem;
    @media screen and (max-width: 700px) {
        .appartement-grid{
            justify-content: center;
            background-color: $light-color;
            padding: 0;
        }
    }
}
