@use "../scss/colors.scss" as *;

.banner{
    max-width: 100%;
    background-image: url('./banner.png');
    min-height: 140px;
    margin: auto;
    display: grid;
    place-items: center;
    border-radius: 25px;
    color:$light-color;
    background-position: center;
    margin-bottom: 2rem;
    &::before{
        position: absolute;
        content:"";
        inset:0;
        opacity: 0.3;

    }
}
